body{

    margin: 0;
    padding: 0;
    
    
}



/*Debut CSS du header*/


header{

    height: 65px;
    background-color: #f9f8f5;
    opacity: 0.6;
    display: flex;
    align-items: center; /* pour centrer tous les ellement sur Y dans le header*/
    
}

#logo{ 

    width: 35px; 
    height: 25px; /*dimenssioné le logo*/
}


#titre_logo{

    margin-left: 5px;
    color: transparent;
    background: linear-gradient(to right,

    #133279 0%,
    #3A4A70 30%,
    #767c8a 55%,
    #D0B07F 70%,
    #f1c659 85%,
    #fabf0d 100% 
    );

    background-clip: text;


}


#content_logo{ /* c'est pour la div qui contient l'ensemble du logo*/

    display: flex;
    align-items: center;
    margin-left: 30px;
    
}

#content_lien_header{ /*pour la div qui contient les lien (contact, apropos...)*/

    display: flex;
    justify-content: space-between; /*creer un meme espace entre les lien*/
    gap: 20px; /* specifié la taille des espace entre les liens*/
    margin-left: 610px;
}

.lien_header{ /* pour stylisé les liens*/

    color: #334567;
    text-decoration: none;
}



/* Fin CSS du Header*/



#titre{

    width: 100%;
    background-color: #1b3c7d;
    height: 170px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Css zone de filtres de recherche*/

#zone_filtre{

    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#bar_search{

    width: 1200px;
    height: 35px;
    border-radius: 20px;
    border: solid 1px gray;
    
}

#cont_select{

    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.select{

    width: 390px;
    height: 35px;
    border-radius: 20px;
    border: solid 1px grey;   
}


/*Css section des livres*/

#liste_livre{

    

    width: 1200px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    margin: auto;
   
}

.item_livre{

    height: 450px;
    background-color: black;
    border-radius: 10px;
    
}

.haut_item{

    background-color: yellow;
    height: 90px;
    
    
}

.type_livre{

    
    background-color: #af242f;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    

}

h3{
    margin-left: 10px;
}

.bas_item{

    background-color: #133279;
    height: 90px;
    margin-top: 270px;
    border-radius: 10px;
}