/* body {

    margin: 0;
    padding: 0;
    background-color: #f9f8f5;
    width: 100%;
    max-width: 100%;


} */



/* #titre { */

/* width: 100%; */
/* background-color: #1b3c7d; */
/* background-color: hsl(220, 70%, 25%);
    height: 170px;
    align-items: left;
    display: flex;
    flex-direction: column; */
/* font-size: clamp(1.5rem, 5vw, 3rem); */



/* } */

/* Css zone de filtres de recherche*/

#zone_filtre {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 1rem;
}

.paragraph {
    padding-left: 50px;
    cursor: pointer;
}

#bar_search {
    width: 100%;
    max-width: 1200px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

#cont_select {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 12px;
}

.select {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
}


/*Css section des livres*/

#liste_livre {
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 34px;
    margin: auto;
    padding: 1rem;
}

.cont_img_livres {

    height: 270px;
    overflow: hidden;
    /* pour que l'image ne depasse pas la div quand elle grossi*/

}

.img_livres {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_livres:hover {

    transform: scale(1.1);
    /* c'est pour faire groossir l'image quand la souris la survole*/
    transition: transform 0.5s ease;
    /* pour modifier la vitesse de la transformation*/
}


.item_livre {

    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;  
    
}

.item_livre:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease;
}

.haut_item {


    height: 90px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 5px;



}

.type_livre {

    text-decoration: none;
    font-size: 13px;
    color: black;

}

.cont_type_livre {


    display: inline-block;
    border-radius: 12px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ebb447;
    margin-left: 7px;
    margin-top: 7px;

}

.type_livre:hover {

    box-shadow: #efc36c 0px 7px 29px 0px;
}

.nom_livre {
    margin-left: 16px ;
    margin-bottom: 16px;
    text-decoration: none;
    color: black;
    ma
}

.prix {

    margin-left: 10px;
}



.bas_item {


    height: 90px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}

.info_livre {

    font-size: 14px;
    color: gray;
    margin-left: 10px;
}


@media (max-width: 768px) {
    #cont_select {
        flex-direction: column;
    }

    .item_livre {
        height: auto;
    }
}

H3{

    margin-left: 7px;
}